/* Mobile */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    align-content: center;
    overflow-x: hidden;
}

.container{
    min-width: 375px;
    font-family: 'Epilogue';
    overflow-x: hidden;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    width: 343px;
    height: 48px;
    margin: 15px;
}

.header-logo{
    object-fit: contain;
    width: 81px;
    height: 32px;
}

.upper-button{
    background-color:#FFFFFF;
    border-radius: 5px;
    margin-right: 4px;
    width: 180px;
    height: 38px;
}
.upper-button:hover{
    background-color: #172339;
    color: #FFFFFF;
}

/* section-1 */

.section-1{
    margin: 10px;
}

.first-curved-line{
    width: 189px;
    height: 39px;
    position: relative;
    left: 100px;
    /* margin-top: 30px; */
}

p{
  color: #49566D;
  line-height: 20px;
}

.first-paragraph{
    font-size: 28px;
    line-height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 11;
    font-family: 'Epilogue';
    width: 343px;
    height: 89px;
}

.super{
    color: #172339;
    font-size: 40px;
    font-weight: 500px;
}

.business{
    color: #172339;
    font-size: 40px;
    font-weight: 500px;
}

.second-paragraph{
    font-family: 'Epilogue';
}

.lower-button{
    background-color: #172339;
    border: none;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-top:20px ;
    font-family: 'Epilogue';
}

.lower-button:hover{
    background: linear-gradient(180deg,#A060FF,#CB30E3,#FFA84E);
    cursor: pointer;
    color: #FFFFFF;
}

.hero-tablet ,.hero-desktop{
    display: none;
}

.hero-mobile{
    display: initial;
    /* margin-right: 8px; */
} 



/* section-2 */

.numbers-1 , .numbers-2 , .numbers-3{
    color: #172339;
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Epilogue';
    margin-top: 40px;
}

.text-1 , .text-2 , .text-3{
    color: #49566D;
    font-family: 'Epilogue';
    margin-top: 15px;
}

.ration{
    text-align: center;
    font-family: 'Epilogue';
    /* font-size: 28px; */
    padding: 70px;
    margin-bottom: 250px;
}

.jeremy-tablet ,.jeremy-desktop{
    display: none;
}

.jeremy-mobile{
    position: absolute;
    top: -180px;
    left: 60px;
    z-index: 10;
}

.blurry{
    position: relative;
    z-index: 10;
    top: -200px;
    right: 70px;
    overflow: hidden;
    /* width: 252px;
    height: 102px; */
}

.lower-curved-line{
    position: relative;
    bottom: 360px;
    left: 140px;
    margin-top: 70px;
}

.info{
    background-color: #172339;
    width: 375px;
    height: 748px;
    border-radius: 10px;
    position: relative;
    align-items: center;
    /* margin: 8px; */
    z-index: -10;
}

.message{
    text-align: center;
    position: absolute;
    font-family: 'Epilogue';
    padding: 30px;
    bottom: 90px;
    z-index: 10;
}

.upper-text{
    font-size: 30px;
    position: relative;
    font-family: 'Epilogue';
    top: 70px;
    margin: 20px;
    /* margin-bottom: 50px; */
}

.testimony{
    width: 300px;
    height: 175px;
    font-family: 'Epilogue';
    position: relative;
    top: 80px;
}

.works{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 80;
}

.name{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 50;
    margin-top: 50px;

}

.cmo{
    font-size: 20px;
    margin-top: 50px;
}

/* footer */

footer{
    text-align: center;
    width: 375px;
    height: 300px;
    padding: 50px;
    background-color: #F3EDE7;
    font-family: 'Epilogue';
    /* position: absolute; */
    /* z-index: 10; */
}

.footer-logo{
    margin: 30px;
}

.copyright{
    margin-bottom: 30px;
    /* z-index: 10; */
}

.icon-1 , .icon-2 , .icon-3{
    padding: 10px;
}








/* Media for Tablet */

@media screen and (min-width: 768px) {

    .container{
        min-width: 768px;
        object-fit: contain;
    } 
    
    /* header */
    
    header{
        margin: 20px;
        width: 689px;
        height: 56px;
    }
    
    .header-logo{
        object-fit: contain;
        width: 81px;
        height: 32px;
    }
    
    .upper-button{
        background-color:#FFFFFF;
        border-radius: 10px;
        padding: 10px;
        width: 219px;
        height: 56px;
        position: relative;
        /* /*left: 370px; */
        font-family: 'Epilogue';
}
    .upper-button:hover{
        background-color: #172339;
        color: #FFFFFF;
    }
    
    /* section-1 */
    
    .section-1{
        margin: 10px;
        width: 689px;
        height: 482px;
    }
    
    .first-curved-line{
        width: 289px;
        height: 39px;
        position: relative;
        left: 200px;
        top: 130px;
    }
    
    p{
      color: #49566D;
      line-height: 20px;
      position: relative;
      top: 280px;
      left: 20px;
      
    }
    
    .first-paragraph{
        line-height: 35px;
        font-family:'Epilogue';
        font-weight: 400px;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.78px;
        /* margin-bottom: 50px; */
        z-index: 10;
        width: 573px;
        height: 129px;
        position: absolute;
        top: 250px;
        left: 20px;
    }
    
    .super , .business{
        color: #172339;
        font-size: 56px;
        font-weight: bolder;
        font-family:'Epilogue';
        Line-height: 64px;
        letter-spacing: -0.78px;
    }

    .second-paragraph{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.0888889px;
        color: #49566D;
        position: relative;
        top: 250px;
        margin-top: 50px;
    }
    
    
    .lower-button{
        background-color: #172339;
        border: none;
        color: #FFFFFF;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 40px;
        margin-top:20px ;
        position: relative;
        bottom: 150px;
        left: 50px;
    }
    
    .lower-button:hover{
        background: linear-gradient(180deg,#A060FF,#CB30E3,#FFA84E);
        cursor: pointer;
        color: #FFFFFF;
    }
    
    .hero-mobile,.hero-desktop{
        display: none;
    }
    
    .hero-tablet{
        display: initial;
        position: relative;
        left: 250px;
        bottom: 100px;
        width: 281px;
        height: 482px;
        z-index: -15;
        /* margin-bottom: 500px; */
    }
    
    /* section-2 */


    .ration{
        display: flex;
        flex-direction: row;
        position: relative;
        bottom: 250px;
        width: 689px;
        height: 83px;
        /* padding: 200px; */
        /* margin-top: 150px; */
    }
    
    .numbers-1 ,.numbers-2 ,.numbers-3{
        color: #172339;
        font-size: 50px;
        font-weight: 600;
        position: relative;
        bottom: 200px;
        /* margin-left: 40px; */

    }

    .numbers-1{ 
       padding-right: -80px;
    } 

    .numbers-2{
       padding-left: 50px;
    }
 
    .numbers-3{
        padding-left: 70px;
    }
    
    
    .text-1 ,.text-2 ,.text-3{
        color: #49566D;
        margin-top: 75px;
        padding-bottom: 50px;
    }

    .text-1{
        position: relative;
        left: -80px;
        /* margin-bottom: 30px; */
    }

    .text-2{
        position: relative;
        left: -45px;
        /* margin-bottom: 30px; */
    }

    .text-3{
        position: relative;
        left: -50px;
    }
    
    
    .jeremy-mobile ,.jeremy-desktop{
        display: none;
    }
    
    .jeremy-tablet{
        display: initial;
        position: absolute;
        bottom: 450px;
        left: 200px;
        padding-top: 30px;
        z-index: 10;
    }

    .blurry{
        position: relative;
        z-index: 10;
        top: -150px;
        left: 90px;
    }
    
    .lower-curved-line{
        /* margin: 20px; */   
        position: relative;
        bottom: 220px;
        left: -240px;
    }


    
    .info{
        background-color: #172339;
        width: 689px;
        height: 684px;
        border-radius: 10px;
        position: absolute;
        top: 1000px;
        left: 35px;
        z-index: 1;
    }
    
    .message{
        text-align: center;
        position: absolute;
        /* bottom: 320px; */
        right: 300px;
        font-family: 'Epilogue';
        /* z-index: -10; */
        
    }
    
    .upper-text{
        font-size: 30px;
        margin: 20px;
        /* margin-top: 40px; */
        position: relative;
        left: 180px;
        /* bottom: 200px; */
    }

    .testimony{
        position: relative;
        left: 190px;
        width: 420px;
        height: 96px;
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.09px;
        color: #F3EDE7;
    }
    
    .works{
        color: #FFFFFF;
        font-size: 50px;
        font-weight: 80;
    }

    .identity{
        position: relative;
        left: 170px;
        bottom: 200px;
    }
    
    .name{
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 50;
    }
    
    .cmo{
        font-size: 20px;
        position: relative;
        top: 250px;
    }
    
    /* footer */
    
    footer{
        text-align: center;
        background-color: #F3EDE7;
        /* padding: 50px; */
        margin-top: 500px;
        position: relative;
        /* top: 400px; */
        width: 768px;
        height: 600px;
        /* z-index: 1; */
    }
    
    .footer-logo{
        margin: 30px;
        position: relative;
        top: 450px;
        right: 220px;
    }
    
    .copyright{
        /* margin-bottom: 30px; */
        font-family: 'Epilogue';
        position: absolute;
        right: 100px;
        top: 540px;
        /* z-index: 10; */
    }
    
    .icon-1 , .icon-2 , .icon-3{
        position: relative;
        top: 430px;
        left: 200px;
        margin: 8px;
    }
    
}







/* Desktop */

@media screen and (min-width: 1024px) {


     /* .container{
    }  */
     

    header{
        /* margin-left: 20px; */
        width: 908px;
        height: 56px;
    }
    
    .header-logo{
        object-fit: contain;
        width: 79px;
        height: 25px;
        margin-left: 80px;
    }
    
    .upper-button{
        background-color:#FFFFFF;
        border-radius: 10px;
        /* /*padding: 10px; */
        position: relative;
        left: 330px;
        width: 219px;
        height: 56px;
        font-family: 'Epilogue';
}
    .upper-button:hover{
        background-color: #172339;
        color: #FFFFFF;
    }
    
    /* section-1 */
    
    .section-1{
        margin: 10px;
        width: 100%;
        position: relative;
        left: 100px;
        /* height: 482px; */
    }
    
    .first-curved-line{
        width: 289px;
        height: 39px;
        /* object-fit: fill; */
        position: relative;
        left: 380px;
        top: 260px;
    }
    
    /* p{
      color: #49566D;
      line-height: 32px;
      position: relative;
      top: 280px;
      left: 20px;
      
    } */
    
    .first-paragraph{
        line-height: 35px;
        font-family:'Epilogue';
        font-weight: 500px;
        font-size: 72px;
        line-height: 68px;
        letter-spacing: -0.78px;
        width: 635px;
        height: 156px;
        z-index: 10;
        position: absolute;
        bottom: 300px;
        left: 50px;
    }
    
    .super , .business{
        color: #172339;
        font-size: 72px;
        font-weight: bolder;
        font-family:'Epilogue';
        Line-height: 64px;
        letter-spacing: -1px;
    }

    .second-paragraph{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.0888889px;
        width: 350px;
        height: 96px;
        color: #49566D;
        position: relative;
        top: 430px;
        left: 30px;
        /* margin-top: 50px; */
    }
    
    
    .lower-button{
        background-color: #172339;
        border: none;
        color: #FFFFFF;
        padding: 15px;
        width: 256px;
        height: 61px;
        font-size: 18px;
        font-family: 'Epilogue';
        border-radius: 5px;
        margin-bottom: 40px;
        margin-top:20px ;
        position: relative;
        bottom: 80px;
        left: 50px;
    }
    
    .lower-button:hover{
        background: linear-gradient(180deg,#A060FF,#CB30E3,#FFA84E);
        cursor: pointer;
        color: #FFFFFF;
    }
    
    .hero-mobile,.hero-tablet{
        display: none;
    }
    
    .hero-desktop{
        display: initial;
        position: relative;
        left: 320px;
        bottom: 30px;
        width: 350px;
        height: 600px;
        z-index: -15;
    }
    
    /* section-2 */
    
    .numbers-1 ,.numbers-2 ,.numbers-3{
        color: #172339;
        font-size: 50px;
        font-weight: bolder;
        position: relative;
        font-family: 'Epilogue';

    }

    .numbers-1 {
        margin-bottom: 30px; 
    } 

    .numbers-2{
        margin-bottom: 30px;
    }

    .numbers-3{
        margin-bottom: 30px; 
    } 


    
    .text-1 ,.text-2 ,.text-3{
        color: #49566D;
        position: relative;
        bottom: 340px;
        right: 150px;
        margin-top: 45px;
        font-family: 'Epilogue';
    }

    .text-1{
        position: relative;
        left: 10px;
        bottom: 100px;
        margin-bottom: 30px;
    }

    .text-2{
        position: relative;
        left: 10px;
        margin-bottom: 30px;
    }

    .text-3{
        position: relative;
        left: 10px;
        margin-bottom: 30px;
    }
    
    .ration{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        position: absolute;
        width: 689px;
        height: 83px;
        left: 60%;
        top: 150px;
        /* margin: 70px; */
    }
    
    .jeremy-mobile ,.jeremy-tablet{
        display: none;
    }
    
    .jeremy-desktop{
        display: initial;
        position: absolute;
        width: 375px;
        height: 600px;
        top: -45px;
        left: 130px;
        /* padding-top: 30px; */
        z-index: 10;

    }

    .blurry{
        position: relative;
        top: 50px;
        z-index: 10;
    }
    
    .lower-curved-line{
        position: relative;
        bottom: 300px;
        left: 50px;
    }
    
    .info{
        background-color: #172339;
        width: 1109px;
        height: 555px;
        border-radius: 10px;
        position: absolute;
        top: 420px;
        margin: 100px;
        /* right: 300px; */
        z-index: 11;
    }
    
    .message{
        text-align: center;
        position: absolute;
        /* bottom: 320px; */
        right: 200px;
        font-family: 'Epilogue';
        z-index: -10;
        
    }
    
    .upper-text{
        font-size: 30px;
        margin: 20px;
        margin-bottom: 70px;
        position: relative;
        left: 150px;
        bottom: 600px;
    }

    .testimony{
        position: relative;
        left: 160px;
        width: 350px;
        height: 175px;
        text-align: start;
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.09px;
        color: #F3EDE7;
    }
    
    .works{
        color: #FFFFFF;
        font-size: 50px;
        font-weight: 80;
    }

    .identity{
        position: relative;
        text-align: start;
        left: 140px;
        width: 190px;
        height: 58px;
        /* bottom: 20px; */
    }
    
    .name{
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 50;
    }
    
    .cmo{
        font-size: 20px;
        position: relative;
        top: 250px;
    }
    
    /* footer */
    
    footer{
        text-align: center;
        background-color: #F3EDE7;
        position: relative;
        width: 100%;
        height: 464px;
        margin-top: 70px;
        /* top: 30px; */
        z-index: -10;
    }
    
    .footer-logo{
        margin: 30px;
        position: relative;
        top: 240px;
        right: 440px;
    }
    
    .copyright{
        /* margin-bottom: 30px; */
        font-family: 'Epilogue';
        position: absolute;
        right: 100px;
        top: 330px;
        /* z-index: 10; */
    }
    
    .icon-1 , .icon-2 , .icon-3{
        position: relative;
        top: 230px;
        left: 450px;
        margin: 8px;
    }
    
}

    


